body {font-size: 15px;}

.small {font-size: 13px;}

.clear {clear: both;}
.divider {border-top: 1px solid #dddddd; clear: both; margin: 12px 0;}

#main ul, #main ol {margin: 0 0 18px;}
#main ul li, #main ol li {margin: 0 0 8px;}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {margin: 0;}

.navbar > .container .navbar-brand {background: transparent url(http://groupsrc.com/easyama/logo_easyama.png) no-repeat center top; display: block; height: 50px; margin: 11px 0 6px; padding: 0; width: 171px;}

#footer {background-color: #F4F4F4; font-size: 12px; margin: 20px 0 0 0; padding: 18px 0 8px; text-align: center;}

a#login-reddit img {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}
.btn-shadow {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}

a#login-reddit:hover {background-position: center bottom;}

.page-header {margin-top: 10px;}

p {margin-bottom: 12px;}

img.bordered-img {border: 2px solid #AAAAAA; border-radius: 4px; -webkit-border-radius: 4px;
-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
display: block;
height: auto;
max-width: 96%;
margin: 25px auto;
padding: 5px;
}

/* --- nav bar --- */
.navbar-nav > li {padding: 0 0 0 0;}
.navbar-default .navbar-nav>li>a {color: #336699; font-size: 14px; font-weight: bold; padding-left: 10px; padding-right: 10px;}

.navbar-toggle {margin-top: 15px;}

/* --- home page --- */
#home-get-started {text-align: center;}

/* --- form --- */
form .form-group {margin-bottom: 24px;}
form label.control-label {font-size: 19px; font-weight: bold; margin-bottom: 0;}
form .has-error label.control-label {color: #b94a48;}
form ul.errors {display: block; margin: 8px 0; padding: 0;}
form ul.errors li {display: block; list-style-type: none; margin: 0 0 6px; padding: 0;}

.has-error .help-block {color: #444444;}

.has-error .form-control, .has-error .form-control:focus {border-color: #b94a48;}

form textarea.form-control {height: 150px;}

/* --- reddit preview --- */
.reddit-preview {font-family: verdana,arial,helvetica,sans-serif; margin: 0 0 20px;}
.reddit-preview p.title {color: blue; font-size: medium; margin-bottom: 1px;}
.reddit-preview p.tagline {color: #888; font-size: x-small; margin-bottom: 0;}
.reddit-preview p.tagline a {color: #369;}
.reddit-preview .md {background-color: #fafafa; border: 1px solid #369; border-radius: 7px; -webkit-border-radius: 7px; font-size: small; margin-top: 5px; padding: 0 5px;}
.reddit-preview .md p {margin: 5px 0;}
.reddit-preview .md a {color: #369;}

/* --- markdown/reddit preview on create/edit forms --- */
.flask-pagedown-preview {font-family: verdana,arial,helvetica,sans-serif; font-size: small; margin: 10px 0; background-color: #fafafa; border: 1px solid #369; border-radius: 7px; -webkit-border-radius: 7px; font-size: small; padding: 0 5px;}
.flask-pagedown-preview p {margin: 5px 0;}
.flask-pagedown-preview a {color: #369;}

/* --- modal windows --- */
.modal-title {font-weight: bold; font-size: 19px;}

/* --- listing --- */
.listing .list-item {border-bottom: 1px solid #dddddd; margin: 0 0 16px; padding: 0 0 5px;}
.listing .list-item.last {border-bottom: 0 none; margin-bottom: 0; padding-bottom: 0;}
.listing .list-item h3 {font-size: 19px; line-height: 23px; margin: 0 0 3px;}
.listing .list-item p.meta {font-size: 13px;}
.listing .list-item p.meta a {color: #336699;}

.page-nav {margin-top: 20px;}
.page-nav > div {width: 50%;}
.page-nav > div.prev {float: left;}
.page-nav > div.next {float: right; text-align: right;}

@media (min-width:768px){
    .navbar-nav > li {padding: 14px 0 0;}
}
