{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>We made a quick guide that goes through the process of creating, previewing, editing, and submiting an AMA with the easyAMA app. This guide assumes you have already created a reddit account (if not go to <a href="https://www.reddit.com/login" target="_blank">reddit.com/login</a>).</p>

    <div class="divider"></div>

    <p>Everything starts on <a href="/" target="_blank">home page</a>. Click on the big button that says "Click to authorize" to start the login process.</p>

    <p><img class="bordered-img" src="http://groupsrc.com/easyama/1_click_to_authorize.png" alt="Click to Authorize" /></p>

    <p>This will redirect you to reddit.com so you can give the easyAMA app permission to access your account. Click the "Allow" button to give us the ability to submit posts on your behalf. The app will only submit posts when you tell it to.</p>

    <p><img class="bordered-img" src="http://groupsrc.com/easyama/2_allow.png" alt="Allow" />

    <p>After you click "Allow", you will be redirected back to easyAMA and you will be logged in with your reddit username.</p>

    <div class="divider"></div>

    <p>If it's your first time logging in, you will be taken directly to a new form to create your first AMA. If you have any saved AMAs, you will be taken to a page that lists your saved AMAs.</p>

    <p>Start creating your AMA by filling out the fields in the form. Follow the instructions that accompany each field in the form. Click on the question mark symbols (<img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" />) if you need more guidance on filling out a field.</p>

    <p><img class="bordered-img" src="http://groupsrc.com/easyama/4_fill_out_form_preview.png" alt="Fill out form" /></p>

    <div class="divider"></div>

    <p>After you have filled out the form, click the "Preview" button to preview your AMA.</p>

    <p><img class="bordered-img" src="http://groupsrc.com/easyama/5_preview_share_edit_submit.png" alt="Preview AMA" /></p>

    <p>The preview page shows you what your AMA will look like when it is posted to reddit.</p>
    
    <p>From this page, you can also:</p>

    <ul>
        <li><p><strong>Share Your AMA Preview</strong></p>

        <p>Find the "Share Your AMA Preview" box to copy the share URL for your AMA. You can share this URL with others to get feedback on your AMA before submitting it.</p></li>

        <li><p><strong>Edit Your AMA</strong></p>

        <p>Click the "Edit Your AMA" button to edit any details of your AMA. After you are done editing, the app will take you back to the preview page.</p></li>

        <li><p><strong>Submit Your AMA</strong></p>

        <p>When you are ready to submit your AMA, click the "Submit Your AMA" button. This will post your AMA to reddit immediately.</p></li>
    </ul>
    
    <p>If you aren't ready to submit your AMA, you can leave and come back at any time to preview, edit, and submit your AMA. Just make sure to login with the same reddit account and your saved AMAs will be waiting for you.</p>

    <div class="divider"></div>

    <p><strong>That's it. Ready to get started? Go to the <a href="/">home page</a>.</strong></p>

{% endblock %}
