{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>What is easyAMA?</strong></p>
    <p>EasyAMA is a third party application that helps users create Reddit AMAs that adhere to Reddit conventions and rules. "AMA" stands for "Ask Me Anything" and is essentially a question and answer session on Reddit. This application interfaces with Reddit, but has no affiliation with reddit inc.</p>

    <div class="divider"></div>

    <p><strong>Why use easyAMA?</strong></p>
    <p>EasyAMA solves two basic problems:</p>
    <ol>
        <li>The process of creating and submitting a Reddit AMA can be confusing, even for active Reddit users. EasyAMA walks the user step-by-step through submitting an AMA to ensure they are putting forethought into their AMA, taking the necessary actions prior to the AMA, and following Reddit's rules.</li>
        <li>It is difficult to plan an AMA ahead of time. EasyAMA allows users to create a preview of their Reddit AMA and share it with others. After the AMA is finalized, it can be submitted to Reddit with a single click on the day of the AMA.</li>
    </ol>

    <div class="divider"></div>

    <p><strong>You should NOT use easyAMA if...</strong></p>

    <ul>
        <li>You do not have a Reddit account or experience with the Reddit interface. Visit <a href="http://marketersguidetoreddit.com" target="_blank">our website</a> to learn more about engaging Reddit and spend time on Reddit before attempting to do an AMA.</li>
        <li>You do not know what a Reddit AMA is or how it works. You can learn about AMA by reading <a href="http://www.reddit.com/r/IAmA/top/?sort=top&t=month" target="_blank">top AMAs</a> and our <a href="http://marketersguidetoreddit.com/amas" target="_blank">free AMA guide</a>.</li>
        <li>You are not able to answer questions for at least 2 hours. Your AMA might not require this much time, but you should be prepared if it does.</li>
        <li>You do not want to answer difficult or seemingly off-topic questions. "AMA" stands for "Ask Me Anything" and the Reddit community will hold you to that expectation.</li>
        <li>You have little or no value to offer to the Reddit community. You must have some type of expertise, authority, or unique experience to share with the Reddit community.</li>
    </ul>

    <div class="divider"></div>

    <p><strong>Things You Should Know</strong></p>

    <ul>
        <li>Reddit is a community of people. Respect the community by adhering to their <a href="http://www.reddit.com/wiki/reddiquette" target="_blank">etiquette</a> and <a href="https://www.reddit.com/help/contentpolicy" target="_blank">rules</a>.</li>
        <li>The success of a Reddit AMA depends on many factors and is therefore unpredictable. Using easyAMA does not gaurantee any result.</li>
        <li>EasyAMA was created by <a href="{{ url_for('about') }}">GroupSRC</a>. We are an independent consulting firm and we specialize in helping businesses and leaders engage the Reddit platform ethically. We have no affiliation with reddit, inc.</li>
    </ul>
    
    <div class="divider"></div>

    <div id="home-get-started">
        <h2>Ready to get started?</h2>
        <p>We strongly encourage you to read everything above carefully before starting your AMA. Once you are ready, click the button below.</p>
        <p><a class="btn btn-large btn-primary btn-shadow" href="{{ url_for('login') }}">Get Started</a></p>
    </div>

{% endblock %}
