{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>Before you can begin, login with your reddit account by clicking the button below. If you don't have a reddit account, you can create one <a href="http://www.reddit.com/register" target="_blank">here</a>.</p>

    <p><strong>After clicking the button below, you will be taken to reddit.com to authorize your account. We will not have access to your reddit password during this process.</strong></p>

    <p><a id="login-reddit" href="{{ oauth_link }}"></a></p>

{% endblock %}
