{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>Before you can submit an AMA, login with your reddit account by clicking the button below. If you don't have a reddit account, you can create one <a href="http://www.reddit.com/register" target="_blank">here</a>.</p>

    <p><a id="login-reddit" href="{{ oauth_link }}"><img src="http://groupsrc.com/easyama/login_reddit.jpg" alt="Authorize with reddit" /></a></p>

    <p class="small"><strong>The button above will authorize EasyAMA to post to reddit on your behalf. We will not have access to your reddit password during this process and we will never post to reddit without your directive.</strong></p>

    <div class="divider"></div>

    <h3>How It Works</h3>

    <p>Need help using easyAMA? <a href="{{ url_for('how_it_works') }}">Click here to learn how it works.</a></p>

{% endblock %}
