{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>What is easyAMA?</strong></p>
    <p>EasyAMA is a third party application that helps users create reddit AMAs that adhere to reddit conventions and rules. "AMA" stands for "Ask Me Anything" and is essentially a question and answer session on reddit. This application interfaces with reddit, but has no affiliation with reddit inc.</p>

    <div class="divider"></div>

    <p><strong>Why use easyAMA?</strong></p>
    <p>EasyAMA solves two basic problems:</p>
    <ol>
        <li>The process of creating and submitting a reddit AMA can be confusing, even for active reddit users. EasyAMA walks the user step-by-step through the AMA process to ensure they are putting forethought into their AMA, taking the necessary actions prior to the AMA, and following reddit's rules.</li>
        <li>Many users work with a team to plan and execute their reddit AMA. EasyAMA allows users to create a preview of their reddit AMA and share it with others. After the AMA is finalized, it can be submitted to reddit with a single click on the day of the AMA.</li>
    </ol>

    <div class="divider"></div>

    <p><strong>You should NOT use easyAMA if...</strong></p>

    <ul>
        <li>You do not have a reddit account or experience with the reddit interface. <a href="http://reddit.com/login" target="_blank">Create a reddit account</a> and get comfortable on reddit before attempting to do an AMA.</li>
        <li>You do not know what a reddit AMA is. Spend time reading <a href="http://www.reddit.com/r/IAmA/top/?sort=top&t=month" target="_blank">AMAs</a> and come back when you are ready.</li>
        <li>You are not able to answer questions for at least 2 hours. Your AMA might not require this much time, but you should be prepared if it does.</li>
        <li>You do not want to answer difficult or seemingly off-topic questions. "AMA" stands for "Ask Me Anything" and the reddit community will hold you to that expectation.</li>
        <li>You have little or no value to offer to the reddit community. You must have some type of expertise, authority, or unique experience to share with the reddit community.</li>
    </ul>

    <div class="divider"></div>

    <p><strong>Things You Should Know</strong></p>

    <ul>
        <li>Reddit is a community of people. Respect the community by adhering to their <a href="http://www.reddit.com/wiki/reddiquette" target="_blank">etiquette</a> and <a href="http://www.reddit.com/rules/" target="_blank">rules</a>.</li>
        <li>The success of a reddit AMA depends on many factors and is therefore unpredictable. Using easyAMA does not gaurantee any result.</li>
        <li>EasyAMA was created by <a href="http://groupsrc.com" target="_blank">GroupSRC</a>. We are an independent marketing firm and we specialize in helping businesses and leaders engage the reddit platform responsibily. We have no affiliation with reddit.</li>
    </ul>
    
    <div class="divider"></div>

    <div id="home-get-started">
        <h2>Ready to get started?</h2>
        <p>We strongly encourage you to read everything above carefully before starting your AMA. Once you are ready, click the button below.</p>
        <p><a class="btn btn-large btn-primary btn-shadow" href="{{ url_for('login') }}">Get Started</a></p>
    </div>

{% endblock %}
