{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="en"{% endblock %}

{% import "bootstrap/google.html" as google %}

{% block head %}
{{super()}}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="easyAMA makes reddit AMA's easy.">

{{fixes.ie8()}}

{% if config['FAVICON_URL'] %}
<link rel="icon" 
      type="image/png" 
      href="{{ config['FAVICON_URL'] }}" />
{% endif %}

{{google.uanalytics(id=config['GA_TRACKING_ID'], domain=config['GA_DEFAULT_URL'])}}

{{ pagedown.html_head() }}

{% endblock %}

{% block title %}easyAMA - The easy way to create a successful reddit AMA.{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{{ url_for('how_it_works') }}">How It Works</a>
            </li>
            <li>
                <a href="{{ url_for('latest_threads') }}">Latest AMA's</a>
            </li>
            <li>
                <a href="http://marketersguidetoreddit.com/amas" target="_blank">Free AMA Guide</a>
            </li>
            {% if current_user.is_authenticated() %}
            <li>
                <a href="{{ url_for('user') }}">My Account</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>{% endblock %}


{% block content %}
<div id="content">
    <div class="container">

    {% include 'flash.html' %}

    <div class="row">

        <div id="main" class="col-sm-12"> 
        {% block page_content %}

            {% if page_title %}
            <div class="page-header"><h2>{{ page_title }}</h2></div>
            {% endif %}

        {% endblock %}
        </div>

    </div>

    </div>
</div>

<div id="footer">
    <div class="container">
    {% block footer %}
    <p>&copy; 2014 easyAMA, all rights reserved. easyAMA is a <a href="http://groupsrc.com" target="_blank">GroupSRC.com</a> project.</p>
    <p>easyAMA is not affiliated with reddit inc.</p>
    {% endblock %}
    </div>
</div>

{% endblock %}
