{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>This AMA will be submitted to:</strong> r/{{ thread.subreddit }}</p>

    <p><strong>AMA Title:</strong></p>
    
    <p>{{ thread.title }}</p>

    <p><strong>AMA Body:</strong></p>
    
    <p>{{ thread.body }}<br /><br />Verification: <a href="{{ thread.verification }}" target="_blank">{{ thread.verification }}</a></p>

    <hr />

    <p>Want to change something? <a class="btn" href="{{ url_for('edit', thread_id=thread.id) }}">Edit the AMA</a></p>

    <p>Does everything look good? <a class="btn" href="{{ url_for('success', thread_id=thread.id) }}">Submit the AMA</a></p>

{% endblock %}
