{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>Subreddit:</strong> r/{{ thread.subreddit }}</p>

    <p><strong>Title:</strong> {{ thread.title }}</p>
    
    <p><strong>Body:</strong></p>
    
    <p>{{ thread.body }}<br /><br />Verification: <a href="{{ thread.verification }}" target="_blank">{{ thread.verification }}</a></p>

    <hr />

    <p><strong>Notice:</strong> Make sure you have proofread your AMA copy before submitting. You can edit the body of your AMA after submitting, but not the title.</p>

    <p><a class="btn btn-default" href="{{ url_for('edit', thread_id=thread.id) }}">Edit Your AMA</a> <a class="btn btn-primary" href="{{ url_for('success', thread_id=thread.id) }}">Submit Your AMA</a></p>

{% endblock %}
