{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>This is an AMA preview created by <strong>/u/{{ thread.user.username }}</strong>. It will be submitted to <strong>/r/{{ thread.subreddit }}</strong>.</p>

    <div class="reddit-preview">
        
        <p class="title">{{ thread.title }}</p>

        <p class="tagline">submitted just now by <a href="#">{{ thread.user.username }}</a> to <a href="#">/r/{{ thread.subreddit }}</a></p>

        <div class="md">
            
            {{ thread.body|markdown }}
            
            <p><strong>Verification:</strong> <a href="{{ thread.verification }}" target="_blank">{{ thread.verification }}</a></p>
        
        </div>

    </div>

{% endblock %}
