{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>Now that you have submitted your AMA, you need to monitor the AMA and respond to as many questions as possible.</p>

    <p>We suggest that you refresh your AMA every 10 minutes or so to check for new questions. Monitor the thread for at least 2 hours and try to answer as many questions as possible.</p>

    <p>When you are done answering questions, edit your AMA and leave a note to thank the community and let them know you are done answering questions.</p>

    <p>Return to the thread the next day to answer any questions that were posted since you left the AMA.</p>

    <p class="text-center" id="view-ama"><a class="btn btn-primary btn-shadow btn-featured" href="{{ thread.reddit_permalink }}?sort=new" target="_blank">Click here to view your AMA</a></p>

    <div class="well">
    <h3 class="well-title">Share your AMA</h3>

    <p>Let your fans know that you are doing an AMA. Click the buttons below to share your AMA on your various social media platforms. <strong>Do not ask your fans to upvote your AMA.</strong></p>

    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ thread.reddit_permalink }}" target="_blank">Share on Facebook</a></li>
        <li><a href="https://twitter.com/home?status=I%20just%20started%20a%20reddit%20AMA%20in%20r/{{ thread.subreddit }},%20ask%20me%20a%20question! {{ thread.reddit_permalink }}" target="_blank">Share on Twitter</a></li>
        <li><a href="https://plus.google.com/share?url={{ thread.subreddit }}" target="_blank">Share on Google Plus</a></li>
    </ul>

    <div class="divider"></div>

    <h3>Thank You</h3>

    <p>Thank you for using our application and good luck with your AMA. If you have any feedback, please send us a note using <a href="http://groupsrc.com/contact">this form</a>.</p>
    </div>
{% endblock %}
