<form method="post" class="form" role="form">
    
    {{ form.csrf_token }}

    <div class="form-group{% if form.subreddit.errors %} has-error{% endif %}">
        {{ form.subreddit.label(class="control-label") }}
        <span class="help-block">Choose a subreddit for your AMA. Do not prepend it with "/r/". &nbsp;<a href="#" data-toggle="modal" data-target="#helpSubreddit"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        <div class="input-group">
            <span class="input-group-addon">/r/</span>
            {{ form.subreddit(class="form-control", tabindex="1") }}
        </div>
        {% if form.subreddit.errors %}
            <ul class="errors">{% for error in form.subreddit.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        {{ form.title.label(class="control-label") }}
        <p><span class="help-block">The title of your AMA should include your name, your reason for doing the AMA, and the words "Ask Me Anything" (or "AMA"). &nbsp;<a href="#" data-toggle="modal" data-target="#helpTitle"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span></p>
        {{ form.title(class="form-control", tabindex="2") }}
        {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.body.errors %} has-error{% endif %}">
        {{ form.body.label(class="control-label") }}
        <span class="help-block">The body of your AMA is where you get to tell the audience more about yourself, why you are doing the AMA and what you are promoting. Use <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a> to format your post. &nbsp;<a href="#" data-toggle="modal" data-target="#helpBody"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        {{ form.body(class="form-control", tabindex="3") }}
        {% if form.body.errors %}
            <ul class="errors">{% for error in form.body.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.verification.errors %} has-error{% endif %}">
        {{ form.verification.label(class="control-label") }}
        <span class="help-block">Include a verification link in the box below to prove your identity. Enter the full URL to your verification in the field below. &nbsp;<a href="#" data-toggle="modal" data-target="#helpVerification"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        {{ form.verification(class="form-control", placeholder="Must start with http:// or https://", tabindex="4") }}
        {% if form.verification.errors %}
            <ul class="errors">{% for error in form.verification.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <input class="btn btn-primary btn-lg" id="submit" name="submit" type="submit" value="Preview">

</form>

<div class="modal fade" id="helpSubreddit" tabindex="-1" role="dialog" aria-labelledby="helpSubredditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Choosing the right subreddit</h4>
      </div>
      <div class="modal-body">
          <p>There are thousands of subreddits available to hold your AMA, each dedicated to paticular topic. Use the <a href="http://www.reddit.com/subreddits/search" target="_blank">subreddit search</a> to find a subreddit that best matches the topic of your AMA. If you want reach a general audience, choose <a href="http://reddit.com/r/iama" target="_blank">r/IAmA</a> (great for famous people, big businesses, or anyone that has a truly unique experience to share).</p>

          <p><strong>More Tips:</strong></p>
          <ul>
              <li>Take time to learn about the subreddit before committing to it. See what redditors are talking about and how they talk to each other.</li>
              <li>Look in the sidebar to see how many subscribers are in the subreddit. Depending on your goals, a smaller subreddit might not be worth your time.</li>
              <li>Read the rules of the subreddit to make sure that it doesn't specifically ban AMA's or have any other rules that you should pay attention to.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpTitle" tabindex="-1" role="dialog" aria-labelledby="helpTitleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great title</h4>
      </div>
      <div class="modal-body">
          <p>The title of your AMA should grab redditors attention and briefly describe who you are. You can mention a notable accomplishment, an upcoming event that you are involved in, a free product/service giveaway, or highlight your field of expertise.</p>
          <p><strong>More Tips:</strong></p>
          <ul>
              <li>You cannot edit the title after you submit your AMA. Proofread it multiple times before submitting.</li>
              <li>Include "AMA" at the end of your title. This let's redditors know that you are doing an AMA.</li>
              <li>Do not express cockiness or arrogance in your AMA title (unless that is part of your brand).</li>
              <li>Do not promote anything in your title unless you are giving away something for free or announcing something that the audience cares deeply about.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpBody" tabindex="-1" role="dialog" aria-labelledby="helpBodyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great body</h4>
      </div>
      <div class="modal-body">
          <p>The body text will be shown to redditors after they click on your AMA. Use the body of your AMA to elaborate on who you are, what you have accomplished, and why you are doing the AMA. You can use the body of your AMA to guide questions towards a specific topic to keep the AMA focused (but never make a topic off-limits).</p>
          <p><strong>More Tips:</strong></p>
          <ul>
              <li>Feel free to promote something near the end of the body. Don't mention a specific product or service unless it is accompanied by a reddit-specific discount code (e.g. enter the code "reddit" for 33% off).</li>
              <li>You can edit the body of your AMA at any time. That being said, only make minor corrections and if you want to add something substantial, place it at the end and label it with the word "Edit" in bold.</li>
              <li>Tell the audience that you are excited for the AMA and thank them for the opportunity.</li>
              <li>Format the body of your AMA using <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a>. Breaking your copy into paragraphs is a must, but also consider using bold text and hyperlinks.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpVerification" tabindex="-1" role="dialog" aria-labelledby="helpVerificationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating a verification link</h4>
      </div>
      <div class="modal-body">
          <p>Verifying your AMA adds credibility to your submission and will increase engagement with redditors.</p>
          <p>To verify your AMA, make a post on your official website or on your favorite social media account that includes your reddit username and a short "hello" to the AMA participants. For bonus points, include a picture of yourslef holding up a "Hi reddit".</p>
      </div>
    </div>
  </div>
</div>
