<p class="highlight"><strong>Tip:</strong> Click on the question mark symbols (<img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" />) for additional information about a form field.</p>

<form method="post" class="form" role="form">
    
    {{ form.csrf_token }}

    <div class="form-group{% if form.subreddit.errors %} has-error{% endif %}">
        {{ form.subreddit.label(class="control-label") }}
        <span class="help-block">Choose a subreddit for your AMA. Do not prepend it with "/r/". &nbsp;<a href="#" data-toggle="modal" data-target="#helpSubreddit"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        <div class="input-group">
            <span class="input-group-addon">/r/</span>
            {{ form.subreddit(class="form-control", tabindex="1") }}
        </div>
        {% if form.subreddit.errors %}
            <ul class="errors">{% for error in form.subreddit.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        {{ form.title.label(class="control-label") }}
        <p><span class="help-block">The title of your AMA should include your name, your reason for doing the AMA, and the acronym "AMA" (or "Ask me anything"). &nbsp;<a href="#" data-toggle="modal" data-target="#helpTitle"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span></p>
        {{ form.title(class="form-control", tabindex="2") }}
        {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.body.errors %} has-error{% endif %}">
        {{ form.body.label(class="control-label") }}
        <span class="help-block">The body of your AMA should tell the audience more about yourself and why you are doing the AMA. Use <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a> to format your post. &nbsp;<a href="#" data-toggle="modal" data-target="#helpBody"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        {{ form.body(class="form-control", tabindex="3") }}
        {% if form.body.errors %}
            <ul class="errors">{% for error in form.body.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.verification.errors %} has-error{% endif %}">
        {{ form.verification.label(class="control-label") }}
        <span class="help-block">Include a verification link in the box below to prove your identity. Enter the full URL to your verification in the field below. &nbsp;<a href="#" data-toggle="modal" data-target="#helpVerification"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a></span>
        {{ form.verification(class="form-control", placeholder="Must start with http:// or https://", tabindex="4") }}
        {% if form.verification.errors %}
            <ul class="errors">{% for error in form.verification.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <input class="btn btn-primary btn-lg" id="submit" name="submit" type="submit" value="Preview">

</form>

<div class="modal fade" id="helpSubreddit" tabindex="-1" role="dialog" aria-labelledby="helpSubredditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Choosing the right subreddit</h4>
      </div>
      <div class="modal-body">
          <p>There are thousands of subreddits to choose from, each dedicated to paticular topic. Use the <a href="http://www.reddit.com/subreddits/search" target="_blank">subreddit search</a> to find a subreddit that best matches the topic of your AMA. If you want reach a general audience, choose <a href="http://reddit.com/r/iama" target="_blank">r/IAmA</a>.</p>

          <p><strong>IMPORTANT:</strong></p>
          <ul>
              <li>Learn about a subreddit before doing an AMA there. Read the sidebar and latest posts to get a feel for the community.</li>
              <li>Search the phrase "title:ama" using the search at the top right of the subreddit. This will search for AMAs that have been done previously in that subreddit.</li>
              <li>Read the rules of the subreddit to see if there are any rules or guidelines for AMAs.</li>
              <li>If you have any doubts, message the moderators to let them know about your plans to do an AMA. Look for the "message the moderators" link in the sidebar of the subreddit.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpTitle" tabindex="-1" role="dialog" aria-labelledby="helpTitleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great title</h4>
      </div>
      <div class="modal-body">
          <p>The title of your AMA should grab redditors attention and briefly describe who you are.</p>
          <p><strong>IMPORTANT:</strong></p>
          <ul>
              <li>You cannot edit the title after you submit your AMA. Proofread it multiple times before submitting.</li>
              <li>Briefly explain who you are in the title (e.g. "I am John Doe. AMA." is a bad title).</li>
              <li>Include "AMA" at the end of your title.</li>
              <li>Do not promote anything in your title unless you are doing something that is extremely valuable to the community.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpBody" tabindex="-1" role="dialog" aria-labelledby="helpBodyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great body</h4>
      </div>
      <div class="modal-body">
          <p>The body will be shown to redditors after they click on your AMA. Use the body of your AMA to elaborate on who you are, what you have accomplished, and why you are doing the AMA. You can use the body of your AMA to guide questions towards a specific topic, but remember that no topic is off-limits.</p>
          <p><strong>IMPORTANT:</strong></p>
          <ul>
              <li>You can edit the body of your AMA at any time. That being said, only make minor corrections and if you want to add something substantial, place it at the end and label it with the word "Edit" in bold.</li>
              <li>Express gratitude. Thank the community for allowing you to spend time with them.</li>
              <li>Format the body of your AMA using <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a>. Breaking your copy into paragraphs is a must, but also consider using bold text and hyperlinks.</li>
              <li>Feel free to promote something near the end of the body. Reddit is generally more accepting of general links to your social media accounts or website. Do not link a specific product or service unless it is accompanied by a reddit-specific discount code (e.g. enter the code "reddit" for 33% off).</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpVerification" tabindex="-1" role="dialog" aria-labelledby="helpVerificationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating a verification link</h4>
      </div>
      <div class="modal-body">
          <p>Verifying your AMA is required. It proves to the community that you are who you say you are.</p>
          <p><strong>Options for verifying your AMA:</strong></p>
          <ul>
              <li>Make a post on your official website or favorite social media account announcing the AMA. The post should include your reddit username and the subreddit you have chosen for your AMA (e.g. "I'm doing a reddit AMA on Tuesday in r/IAmA. My reddit username is /u/reddit_username.").</li>
              <li>Take a picture of yourself holding up a sign that says "Hi reddit" and includes your reddit username. Upload it to <a href="http://imgur.com" target="_blank">imgur</a> to create a verification link you can share with reddit.</li>
              <li>Some moderators will verify you before your AMA and tag your AMA as "verified". In this case, it is still good to create a verification link using one of the methods above.</li>
      </div>
    </div>
  </div>
</div>
