{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <h2 class="pull-left">My Saved AMAs</h2>
    
    <div class="pull-right"><h2><a class="btn btn-primary" href="{{ url_for('create_thread') }}">Create New AMA +</a></h2></div>

    <div class="divider"></div>

    {% if threads_not_submitted %}
    <div class="listing">
        {% for thread in threads_not_submitted %}
        <div class="list-item{% if loop.last %} last{% endif %}">
            <p class="title"><strong><a href="{{ url_for('preview', thread_id=thread.id) }}">{{ thread.title }}</a></strong></p>
            <p class="meta">Subreddit: <a href="http://reddit.com/r/{{ thread.subreddit }}" target="_blank">/r/{{ thread.subreddit }}</a></p>
            <p><a class="btn btn-sm btn-default" href="/preview/{{ thread.id }}">Continue AMA</a> &nbsp; <a class="btn btn-sm btn-danger" href="{{ url_for('delete_thread', thread_id=thread.id) }}">Delete AMA</a></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You have no saved AMAs. <a href="{{ url_for('create_thread') }}">Create a new AMA</a>.</p>
    {% endif %}

    {% if threads_submitted %}
    <div class="divider"></div>

    <h3>Submitted AMAs</h3>

    <div class="listing">
        {% for thread in threads_submitted %}
        <div class="list-item{% if loop.last %} last{% endif %}">
            <p class="title"><strong><a href="{{ thread.reddit_permalink }}" target="_blank">{{ thread.title }}</a></strong></p>
            <p class="meta">Subreddit: <a href="http://reddit.com/r/{{ thread.subreddit }}" target="_blank">/r/{{ thread.subreddit }}</a></p>
            <p><a class="btn btn-sm btn-default" href="{{ thread.reddit_permalink }}" target="_blank">View AMA on reddit</a></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
